@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Titillium+Web:wght@300;400;600;700;900&display=swap');


// Variable List

$font-primary: 'Titillium Web',
sans-serif;
$font-secondary:'Oswald',
sans-serif;
$primary-color: #ff4646;



// Modified Part
body {
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

// ?==================================================
// ?START FROM HERE
.card-body {

    .selling{
        width: 100px;
        height: 100px;
        background-color: #18E8D8;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 50%;
        padding-top: 40px;
        color: #fff;
        position: absolute;
        top: -27px;
        left: -30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        padding-left: 20px;
        
}
    .cart_content {
        
     
        h6 {
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            font-family: $font-primary;
            font-weight: 700;
        }

        .btn {
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            color: #fff;
            font-weight: 700;

        }


    }

    .btn_extra {
        background-color: #18E8D8;
        position: relative;
    }

    .btn_extra::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: -97px;
        bottom: 13px;
        background-color: #777;
    }

    .btn_extra::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        right: -97px;
        bottom: 13px;
        background-color: #777;
    }

    .price{
        text-decoration: line-through;
    }

}
